/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html,body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-seif;
}
main {
  width: 360px;
  height: 800px;
  margin: 0 auto;
}