/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html,body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-seif;
}
main {
  width: 1000px;
  height: 250px;
  margin: 0 auto;
}
.google-logo {
  width: 250px;
  height: 80px;
  align-content: center;
}